.toolbar {
  display: flex;
  justify-content: space-between;
}

.table-content {
  padding: 42px;
}

.new-note {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.form-item:not(:last-child) {
  margin-bottom: 15px;
}
