<mat-toolbar color="primary" class="toolbar">
  <span>{{ 'headline' | translate }}</span>
  <mat-button-toggle-group
    [value]="selectedLanguage$ | async"
    (change)="changeLanguage($event.value)"
    name="languages"
    aria-label="Languages"
  >
    <mat-button-toggle value="cs">CZ</mat-button-toggle>
    <mat-button-toggle value="en">EN</mat-button-toggle>
  </mat-button-toggle-group>
</mat-toolbar>

<div *ngIf="notesTableData$ | async as data" class="table-content">
  <mat-expansion-panel
    (closed)="clearEdit()"
    (opened)="getDetail(item.id)"
    *ngFor="let item of data"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ item.title }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="note-content" *ngIf="noteDetail(item.id) | async as detail">
      <span>{{ detail.description }}</span>
      <mat-icon class="edit" (click)="changeEdit(detail)">edit</mat-icon>
    </div>
  </mat-expansion-panel>
</div>
<div class="note-form-container">
  <form class="note-form" (ngSubmit)="addNote()" [formGroup]="noteForm">
    <h3>{{ 'addForm' | translate }}</h3>
    <mat-form-field class="form-item">
      <mat-label>Title</mat-label>
      <input
        matInput
        [placeholder]="'noteTitle' | translate"
        formControlName="title"
      />
    </mat-form-field>

    <mat-form-field class="form-item">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        [placeholder]="'noteDescription' | translate"
        formControlName="description"
      ></textarea>
    </mat-form-field>
    <button
      class="form-item"
      [disabled]="noteForm.invalid"
      color="primary"
      mat-raised-button
    >
      {{ 'add' | translate }}
    </button>
  </form>

  <form
    *ngIf="editing != null"
    class="note-form"
    (ngSubmit)="editNote()"
    [formGroup]="editNoteForm"
  >
    <h3>{{ 'editForm' | translate }}</h3>
    <mat-form-field class="form-item">
      <mat-label>Title</mat-label>
      <input
        matInput
        [placeholder]="'noteTitle' | translate"
        formControlName="title"
      />
    </mat-form-field>

    <mat-form-field class="form-item">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        [placeholder]="'noteDescription' | translate"
        formControlName="description"
      ></textarea>
    </mat-form-field>
    <button
      class="form-item"
      [disabled]="editNoteForm.invalid"
      color="primary"
      mat-raised-button
    >
      {{ 'edit' | translate }}
    </button>
  </form>
</div>
