.toolbar {
  display: flex;
  justify-content: space-between;
}

.table-content {
  padding: 42px;
}

.note-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.form-item:not(:last-child) {
  margin-bottom: 15px;
}

.note-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit {
  margin-right: 10px;
  cursor: pointer;
}

.note-form-container {
  display: flex;
  justify-content: space-around;
}
